.login-register-container {
    background-color: #f8f9fa; /* Цвет фона */
    padding: 10px; /* Поля вокруг содержимого */
    border-bottom: 1px solid #ffffff; /* Горизонтальная линия под блоками */
}

.navigation-container {
    background-color: #6c757d; /* Цвет фона */
    padding: 10px; /* Поля вокруг содержимого */
    color: #ffffff; /* Цвет текста */
    border-bottom: 1px solid #ffffff; /* Горизонтальная линия под блоком */
}

.navigation-container a {
    color: #ffffff; /* Цвет ссылок */
}

.navigation-container a:hover {
    color: #f8f9fa; /* Цвет ссылок при наведении */
}
